# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# RStudio files
.Rproj.user/

# R Environment Variables
.Renviron

# R data set files
*.rds 

# Ignore directory
ignore/

*.DS_Store

# R Markdown and output
*.html

# Tables
create-tables.tex
create-tables.pdf

# Condor
*.log
*.err
*.out
log-time_*
error-*
gurobi-*

# Output 
data-param_*.rds
gridsearch_spec_*.rds
eval_spec_*.rds
!mildsvm-sims-results*.0.0-1.rds
!mildsvm-sims-results*.0.0-2.rds
!mildsvm-sims-results*.0.3-2.rds
!mildsvm-sims-results*.1.0-1.rds
!mildsvm-sims-results*.1.0-2.rds
!mildsvm-sims-results*.1.1-2.rds
mildsvm-sims-gurobi-logs*.xlsx
*.json

# Data
*.csv
debug/
!ARTIFICIAL-mild-dcis-ff.rds

.vscode/

*.pdf