# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# RStudio files
.Rproj.user/

# R Environment Variables
.Renviron

# R data set files
*.rds 

# Ignore directory
ignore/

*.DS_Store

# R Markdown and output
*.html

# Figures
fig/

# Tables
create-tables.tex
create-tables.pdf

# Condor
*.log
*.err
*.out
log-time_*
error-*

# Output 
!mildsvm-sims-results*.0.0-1.rds
!mildsvm-sims-results*.0.0-2.rds
*.json

# Data
*.csv
debug/

.vscode/